body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  min-height: 100%
}
.card {
  border-radius: 20px;
  border: 1px solid #bacdd8;
  margin: 20px;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: transform .5s, box-shadow 1s;
  display: flex; 
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 90%;
}
.card figure {
  width: 100%;
  flex: 0 0 50%;
  margin: 0%; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-position: center;
  background-size: cover;
}
.card:nth-of-type(1) figure {
  background-image: url("thunder.gif");
}
.card:nth-of-type(2) figure {
  background-image: url("frozen_lake.jpeg");
}
.card:nth-of-type(3) figure {
  background-image: url("rain.jpeg");
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.card-details {
  padding: 8px;
}
.card-image {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.content {
  padding: 32px;
  grid-area: content;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "section-header section-header section-header"
    "card card card";
}
.footer {
  grid-area: footer;
  background-color: darkgray;
}
.footer p{
  text-align: center;
  font-size: 10px;
}
.header {
  grid-area: header;
  background-color: darkblue;
  color: white;
  padding-left: 20px;
}
.section-header {
  grid-area: section-header;
}
.side {
  grid-area: sidebar;
  background-color: lightblue;
  width: 320px;
  padding: 32px;
}
@media only screen and (max-width: 1024px) {
  .side {
    grid-area: sidebar;
    display: none;
  }
  .content {
    padding: 32px;
    grid-area: content;
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "section-header"
      "card";
  }
}